{% extends "news/base.html" %}
{% load static %}
{% block content %}
<main>
    <section class="section-3">
      <div class="container section-3-container">
        <div class="row">
          <div class="col">
            <div class="section-title">
              <h2>Latest News</h2>
              <div class="section-para">
                <a class="section-status" href="{% url "login" %}">Your Interest</a>
                <span class="material-symbols-outlined arrow move-right"> arrow_forward </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card section-3-hero-card">
              <a href={{head.url}} target="_blank"><p class="card-text section-3-hero-card-para">{{head.title}}</p></a>
              <img src="{{head.image}}" class="card-img-top section-3-hero-card-image" alt="..." />
              <div class="card-body hero-card-body section-3-hero-card-body">
                <p class="card-text">
                  <small class="text-muted">{{head.pub_date|date:"d F, Y"}}</small>
                </p>
                <p class="card-text section-3-hero-card-para">{{clean_text}}</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            {% for n in random_three %}
            <div class="card hori-card mb-3">
              <div class="row g-0">
                <div class="col-md-8 right-hori-card">
                  <div class="card-body hori-card-body">
                    <h5 class="card-title">
                      <a class="hori-card-title" target="_blank" href="{{n.url}}">{{n.title}}</a>
                    </h5>
                    <p class="card-text">
                      <small class="text-muted">{{n.pub_date|date:"d F, Y"}}</small>
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <img src="{{n.image}}" class="img-fluid hori-card-img" alt="..." />
                </div>
              </div>
              
            </div>
            {% endfor %}
          </div>

        </div>
        <div class="row">
          {% for n in random_twelve %}
          <div class="col-md-3">
            <div class="card section-3-card-overlay">
              <a class="section-3-card-overlay-tiltle" target="_blank" href="{{n.url}}">
              <img src="{{n.image}}" class="card-img section-3-card-img-overlay" alt="..." />
              <div class="card-img-overlay card-img-overlay-section-3">
                <h5 class="card-title">
                  {{n.title}}
                </h5>
               
                <p class="card-text">
                  <small class="text-muted-overlay">{{n.pub_date|date:"d F, Y"}}</small>
                </p>
              </div>
            </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
</main>
{% endblock content %}