{% extends "news/base.html" %}
{% load static %}
{% block content %}
<main class="main-body">
  <div class="container login-page-container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 login-form-colu">
        <div class="login-form-div">
          <div class="form-head">
            <h3 class="login-heading">Login to your Account</h3>
            <p>Please enter your login credentials below.</p>
          </div>
          <form class="login_form" role="form" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="username" class="form-label login-form-label">Username<span>*</span></label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" aria-label="user name" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword" class="form-label login-form-label">Password (पासवर्ड)*</label>
            <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="Enter your Password" />
        </div>
            <h2 style="color:red;">{{ error }}</h2>
            <div class="button-div">
              <button class="btn btn-primary login-page-btn btn-lg">LogIn (लगिन गर्नुहोस्)</button>
            </div>
            <br>
            <h3 class="button-div">Don't have account</h3>
            <div class="button-div">
              <a href="{% url "register" %}" role="button" class="btn btn-primary login-page-btn btn-lg">REGISTER</a>
            <div>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</main>
{% endblock content %}